/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
}

/*************************** hamburger *******************************/
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 3rem;
  height: 3rem;
  outline: none;
}
.line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* ****************************** Header **********************/

.container {
  width: 100%;
  height: 100vh;
}
.container .bg-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.container header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 5.2rem;
  font-family: "Open Sans", sans-serif;
}
header .logo {
  cursor: pointer;
}
.dropdown select {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.dropdown {
  padding: 0 2rem;
  border-right: 1px solid gray;
  margin-right: 3rem;
}

.dropdown select option {
  background: rgb(0, 0, 0);
  color: #ffffff;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 4px;
}
.dropdown select option:hover {
  color: #ffb548;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.navigation-links {
  width: 100%;
  background: rgba(0, 0, 0, 0.73);
  border-radius: 4px;
  display: none;
  margin-top: 1rem;
}
.navigation-links ul {
  list-style-type: none;
  margin-top: 1rem;
}
.navigation-links ul li {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  color: #fff;
}
.navigation-links ul li:hover {
  color: #ffb548;
  cursor: pointer;
}
.navigation-links.navigation-active {
  transition: all 1s;
  display: block;
}

@media (max-width: 768px) {
  html {
    font-size: 46%;
  }
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
  .container header {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navigation-links {
    display: block;
    background-color: transparent;
    margin-top: 0;
  }
  .navigation-links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .dropdown {
    margin: 0 3rem;
  }
}

/* ********************** text container in main  */
.text-container {
  width: 100%;
  height: calc(100vh - 5.2rem);
  display: grid;
  place-items: center;
}
.text-center {
  display: grid;
  place-items: center;
  padding: 0 2rem;
}
.text-container h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 8rem;
  letter-spacing: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.text-container p {
  font-family: "Bebas Neue", cursive;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.7rem;
}
.text-container button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.8rem;
  background-color: #f1b861;
  color: #000;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.7;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.text-container button:hover {
  background-color: #ebb768;
}
